<% provide(:title, "Contact Us") %>

<div id="container">

<div id="content">

<form name="myForm" action=" mailto:your email address here" onsubmit="return validateForm()"method="post">
<fieldset> 

<legend><h3>Get in Touch</h3></legend> 

<p>
We are here to answer any questions you might have about our services. 
</p>
<p id="mandatory">Mandatory fields*</p>

        <p>Prefix
		  <input id="mr" type="radio" name="prefix" value="mr">
		<label for="mr">Mr</label>
		  <input id="mrs" type="radio" name="prefix" value="mrs">
		<label for="mrs">Mrs</label>
		  <input id="miss" type="radio" name="prefix" value="miss">
		<label for="miss">Miss</label></br></p>
		
		<label>First Name*<br>
          <input type="text" name="fname"/></label><br/>
          <br>

		
        <label>Last Name*<br>
          <input type="text" name="lastname"/></label><br/>
          <br>

		
        <label>Email*<br>
          <input type="text" name="email"/></label><br/>
          <br>

		
        <label>Phone Number*<br>
          <input type="text" name="phonenumber"/></label><br/>
          <br>

		
        <label>Message<br>
          <textarea name="message">Enter your message here</textarea>
		 </label><br/>
		 <br>
		
		 <label>How would you like us to contact you<br>
		<select name="method">
		  <option value="choose">Choose from dropdown</option>
		  <option value="text">Text</option>
		  <option value="phonecall">Phonecall</option>
		  <option value="email">Email</option>
		</select><br>
		</label>
		<br>
		
		  <label>How did you hear about Corcoran's<br>
		<select name="medium">
		  <option value="choose">Choose from dropdown</option>
		  <option value="social media">Social media</option>
		  <option value="from a friend">From a friend</option>
		  <option value="newspaper">Newspaper advertisement</option>
		  <option value="other">Other</option>
		</select>
		</label>
		

<p>Click submit when you have completed the form</p>
<input type="submit" input value="submit" id="submitbtn">
<br>

</fieldset>
</form>

<h3>Our Storeroom</h3>
<p>
Visit our storeroom in Dublin 15, Blanchardstown.
</p>
<div id="googleMap"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.2834887569256!2d-6.3932003841597975!3d53.39186857998855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670d50e9317be7%3A0x1ef966973dd6d646!2sBlanchardstown%20Centre!5e0!3m2!1sen!2sie!4v1609364233381!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




</div>

</div>


</body>


<script type="text/javascript" src="/assets/javascripts/contactus.js"></script>
